<!-- Left Sidebar -->
	<div class="left main-sidebar">
		<div class="sidebar-inner leftscroll">
			<div id="sidebar-menu">
			<ul>
                <li class="submenu">
                    <a href="charts.html"><i class="fa fa-fw fa-area-chart"></i><span> Home </span> </a>
                </li>
                <li class="submenu">
                    <a href="{% url 'books:categoryIndex' %}"><i class="fa fa-fw fa-table"></i> <span> Category </span> <span class="menu-arrow"></span></a>
                </li>
                <li class="submenu">
                    <a href="{% url 'books:listBook' %}"><i class="fa fa-fw fa-tv"></i> <span> Book </span> <span class="menu-arrow"></span></a>
                </li>
                <li class="submenu">
                    <a href="{% url 'books:listMarkBook' %}"><i class="fa fa-fw fa-tv"></i> <span> Mark Book </span> <span class="menu-arrow"></span></a>
                </li>
<!--                <li class="submenu">-->
<!--                    <a href="#"><i class="fa fa-fw fa-file-text-o"></i> <span> Forms </span> <span class="menu-arrow"></span></a>-->
<!--                        <ul class="list-unstyled">-->
<!--                            <li><a href="forms-general.html">General Elements</a></li>-->
<!--                            <li><a href="forms-select2.html">Select2</a></li>-->
<!--                            <li><a href="forms-validation.html">Form Validation</a></li>-->
<!--                            <li><a href="forms-text-editor.html">Text Editors</a></li>-->
<!--                            <li><a href="forms-upload.html">Multiple File Upload</a></li>-->
<!--                            <li><a href="forms-datetime-picker.html">Date and Time Picker</a></li>-->
<!--                            <li><a href="forms-color-picker.html">Color Picker</a></li>-->
<!--                        </ul>-->
<!--                </li>-->
            </ul>
            <div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- End Sidebar -->